.header_custom table thead > tr > th {
background-color:#7BD3EA !important;
color:white !important;
}

.header_custom table thead > tr > th:nth-child(2) {
background-color:#7BD3EA !important;
width:250px;
}